.clearfix:after{
    content:".";
    height:0px;
    display:block;
    visibility:hidden;
    clear: both;
}
.cont-right-box{
    width: 450px;
    margin: 0 auto;
    padding-bottom: 200px;
}
.cont-right-header{
    width: 450px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}
.cont-right-ct{
    width: 450px;
}
.cont-right-ct ul li{
    width: 450px;
    height: 80px;
}
.cont-right-ct ul li input{
    width: 450px;
    height: 40px;
    outline: none;
    margin-top: 10px;
    border:1px solid #ababab;
    border-radius: 5px;
    text-indent: 10px;
    background: #fafafa;
    font-size: 14px;
    float: left;
}
/* .cont-right-ct ul li:nth-child(2) input{
    width: 280px;
    float: left;
} */
.cont-right-ct ul li .yanzhengma{
    display: block;
    float: left;
    width: 160px;
    height: 40px;
    background: #dbdbdb;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color: #a1a1a1;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}
.cont-right-ct .queren{
    display: block;
    width: 235px;
    height: 40px;
    background: #ff6c7c;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: white;
    margin-top: 20px;
}