.yonghu{
    background: white;
}
.content{
    width: 1213px;
    margin: 0 auto;
    display: flex;
    justify-content:  space-between;
    
    
}
.nav{
    width: 921px;
    
    background: white;
}
.nav-ul{
    height: 64px;

}
.nav-ul li{
    float: left;
    color: white;
    width: 100px;
    height: 64px;
    margin: 0 20px;
    line-height: 64px;
    /* text-align: center; */
    font-size: 16px;
}
/* 底边 */
.nav .nav-ul .active{
    border-bottom: 3px solid #ff6c7d;
}

.houzi{
    margin-top: 21px;
    width: 290px;
    height: 396px;
    padding: 13px;
    background: #fafafa;
    box-shadow:-2px -3px 11px -4px #999;
}
.houzi-nav{
    padding-bottom: 22px;
    width: 100%;
    display: flex;
    justify-content:  space-between;;
}
.houzi-nav h4{
    font-size: 16px;
    font-weight: 400;
}
.houzi-nav span{
    /* font-size: 12px; */
    color: #666
}
.ren{
    display: flex;
    padding-bottom: 24px;
    
}

.xinxi{
    display: flex;

    align-items:center
}
.ming span{
    display: block;
    width: 100%;
}

.n{
  
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    background: #ff5079;
    border-radius: 10%;
}